* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.section {
    background-color: cadetblue;
    color: white;
    font-size: 0.9em;
    text-align: center;
    padding: 1%;
}

#canvas-board {
    width: 100%;
    display: flex;
    margin-top: 3%;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

#options-section {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}

#options-section > input {
    margin: 2%;
}

#canvas-board > canvas {
    margin: 0 auto;
}

span {
    font-size: 1.7em;
    font-weight: bold;
}

.options > button {
    font-size: 1.3em;
    padding: 0.5% 1%;
    margin: 1%;
}

.options-buttons {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.buttons-row > button, .options-buttons > button {
    width: 170px;
    padding: 2%;
    font-size: 1.3em;
}

.buttons-row {
    display: flex;
    flex-direction: column;
}

#run-button {
    width: 35%;
    margin-bottom: 4%;
}

.option-button {
    border: none;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 0.3em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.option-button:focus {
    border: 1px solid black;
}

#begin-button {
    background-color: #00ff00;
}

#begin-button:hover, #begin-button:focus {
    background-color: #00d800;
}

#end-button {
    background-color: #0000ff;
}

#end-button:hover, #end-button:focus {
    background-color: #2e2eff;
}

#clear-button {
    background-color: #bdbdbd;
    color: black;
}

#clear-button:hover, #clear-button:focus {
    background-color: #8b8b8b;
    color: black;
}

#obstacle-button {
    background-color: #ff0000;
}

#obstacle-button:hover, #obstacle-button:focus {
    background-color: #b30000;
}

#penalty-button {
    background-color: #ffb700;
}

#penalty-button:hover, #penalty-button:hover {
    background-color: #c48c00;
}